# Created by .ignore support plugin (hsz.mobi)
.idea/
repo2.iml
forms/dsList1Edit.js
loadata.js
node1/hr_check/.vscode/launch.json
node1/hr_pattern 1 arg.js
node1/hr_pattern 2 args.js
node1/.vscode/launch.json


node1/sqlite/teams0609.js
