body {
    background: #909090;
   
}

.bold-red {
    color: #eb4034;
    font-weight: bold
}

.onText:hover{
    color: #eb4034
}

.main{
    border: 2px solid blue;
    display: flex;
    padding: 40px;
    margin: 10px;
    width: 300px;
    height: 250px;
}

.main button {
    /* display: inline-block; */
    height: 30px
}

.inline{
    display: flex
}

.divTable{
    background-color: aqua;
    width:auto;
    height: auto;
}

